*{
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 300px;
    background: #80808033;
    padding: 31px;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
}
h2.login-title {
    text-align: center;
    margin-bottom: 12px;
}

h2.reg-title {
    text-align: center;
    margin-bottom: 12px;
}

.form-group {
    margin-bottom: 15px;
}

input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.error {
    color: red;
    font-weight: 600;
    margin-top: 6px;
}

.alert {
    padding: 15px;
    margin-top: 20px;
    background-color: #d4edda;
    border: 1px solid #0dc337;
    color: #155724;
    border-radius: 5px;
    position: relative;
}

.alert-error {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

